{
    "swagger": "2.0",
    "info": {
        "title": "Sign Host",
        "description": "API for api.signhost.com",
        "version": "0.0.0"
    },
    "host": "api.signhost.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/transaction/{transactionId}/file/{fileId}": {
            "put": {
                "tags": [
                    "Web"
                ],
                "description": "Add file to transaction",
                "operationId": "addFileToTransaction",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [{
                        "name": "transactionId",
                        "in": "path",
                        "description": "Transaction ID",
                        "required": true,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "File ID",
                        "required": true,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Key",
                        "required": false,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "Application",
                        "in": "header",
                        "description": "APP Key",
                        "required": false,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "File",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "application/json": "Stored file Contract.pdf to transaction 8e3f7925-ab16-4106-98ef-ef31d6f8c063"
                        }
                    }
                },
                "security": []
            },
            "get": {
                "tags": [
                    "Web"
                ],
                "description": "Get file",
                "operationId": "getFile",
                "produces": [
                    "application/pdf"
                ],
                "parameters": [{
                        "name": "transactionId",
                        "in": "path",
                        "description": "Transaction ID",
                        "required": true,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "File ID",
                        "required": true,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Key",
                        "required": false,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "Application",
                        "in": "header",
                        "description": "APP Key",
                        "required": false,
                        "type": "string",
                        "x-example": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "security": []
            }
        },
        "/api/transaction": {
            "post": {
                "tags": [
                    "Web"
                ],
                "description": "Create transaction",
                "operationId": "createTransaction",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Transaction"
                        }
                    }
                },
                "security": []
            }
        },
        "/api/file/receipt/{transactionId}": {
            "get": {
                "tags": [
                    "Web"
                ],
                "description": "Get receipt",
                "operationId": "getReceipt",
                "produces": [
                    "application/pdf"
                ],
                "parameters": [{
                        "name": "transactionId",
                        "in": "path",
                        "description": "Transaction ID",
                        "required": true,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Key",
                        "required": false,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "Application",
                        "in": "header",
                        "description": "APP Key",
                        "required": false,
                        "type": "string",
                        "x-example": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "security": []
            }
        },
        "/api/transaction/{transactionId}": {
            "get": {
                "tags": [
                    "Web"
                ],
                "description": "Get transaction",
                "operationId": "getTransaction",
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "name": "transactionId",
                        "in": "path",
                        "description": "Transaction ID",
                        "required": true,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Key",
                        "required": false,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "Application",
                        "in": "header",
                        "description": "APP Key",
                        "required": false,
                        "type": "string",
                        "x-example": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Transaction"
                        }
                    }
                },
                "security": []
            }
        },
        "/api/transaction/{transactionId}/start": {
            "put": {
                "tags": [
                    "Web"
                ],
                "description": "Start transaction",
                "operationId": "startTransaction",
                "parameters": [{
                        "name": "transactionId",
                        "in": "path",
                        "description": "Transaction ID",
                        "required": true,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Key",
                        "required": false,
                        "type": "string",
                        "x-example": ""
                    },
                    {
                        "name": "Application",
                        "in": "header",
                        "description": "APP Key",
                        "required": false,
                        "type": "string",
                        "x-example": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": []
            }
        }
    },
    "definitions": {
        "Transaction": {
            "description": "Model for Transaction",
            "required": [
                "Id"
            ],
            "properties": {
                "CanceledDateTime": {
                    "type": "string",
                    "x-example": ""
                },
                "Context": {
                    "type": "string",
                    "x-example": ""
                },
                "CreatedDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "x-example": "2021-12-14T16:00:26.2221806+01:00"
                },
                "DaysToExpire": {
                    "type": "integer",
                    "format": "int32",
                    "x-example": "30"
                },
                "Files": {
                    "$ref": "#/definitions/Files",
                    "x-example": "{\n}"
                },
                "Id": {
                    "type": "string",
                    "x-example": "8e3f7925-ab16-4106-98ef-ef31d6f8c063"
                },
                "ModifiedDateTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "PostbackUrl": {
                    "type": "string"
                },
                "Receivers": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "Reference": {
                    "type": "string"
                },
                "Seal": {
                    "type": "boolean"
                },
                "SendEmailNotifications": {
                    "type": "boolean"
                },
                "Signers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Signers"
                    }
                },
                "SignRequestMode": {
                    "type": "integer",
                    "format": "int32"
                },
                "Status": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "Signers": {
            "description": "Model for Signers",
            "required": [
                "Activities"
            ],
            "properties": {
                "Activities": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "x-example": "[]"
                },
                "Authentications": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "x-example": "[]"
                },
                "BSN": {
                    "type": "string",
                    "x-example": ""
                },
                "Context": {
                    "type": "string",
                    "x-example": ""
                },
                "CreatedDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "x-example": "2021-12-14T16:00:26.2221951+01:00"
                },
                "DaysToRemind": {
                    "type": "integer",
                    "format": "int32",
                    "x-example": "15"
                },
                "Email": {
                    "type": "string",
                    "x-example": "moosterhout@thysia.eu"
                },
                "Expires": {
                    "type": "string",
                    "x-example": ""
                },
                "Iban": {
                    "type": "string",
                    "x-example": ""
                },
                "Id": {
                    "type": "string",
                    "x-example": "Signer1"
                },
                "IntroText": {
                    "type": "string",
                    "x-example": ""
                },
                "Language": {
                    "type": "string",
                    "x-example": "nl-NL"
                },
                "Mobile": {
                    "type": "string",
                    "x-example": ""
                },
                "ModifiedDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "x-example": "2021-12-14T16:00:26.2221951+01:00"
                },
                "Reference": {
                    "type": "string",
                    "x-example": "Test123"
                },
                "RejectDateTime": {
                    "type": "string",
                    "x-example": ""
                },
                "RejectReason": {
                    "type": "string",
                    "x-example": ""
                },
                "RequireDigidVerification": {
                    "type": "boolean",
                    "x-example": "false"
                },
                "RequireEmailVerification": {
                    "type": "boolean",
                    "x-example": "true"
                },
                "RequireIdealVerification": {
                    "type": "boolean",
                    "x-example": "false"
                },
                "RequireScribble": {
                    "type": "boolean",
                    "x-example": "false"
                },
                "RequireScribbleName": {
                    "type": "boolean",
                    "x-example": "false"
                },
                "RequireSmsVerification": {
                    "type": "boolean",
                    "x-example": "false"
                },
                "RequireSurfnetVerification": {
                    "type": "boolean",
                    "x-example": "false"
                },
                "ReturnUrl": {
                    "type": "string",
                    "x-example": ""
                },
                "ScribbleName": {
                    "type": "string",
                    "x-example": ""
                },
                "ScribbleNameFixed": {
                    "type": "boolean",
                    "x-example": "false"
                },
                "SendSignConfirmation": {
                    "type": "boolean",
                    "x-example": "true"
                },
                "SendSignRequest": {
                    "type": "boolean",
                    "x-example": "true"
                },
                "SignedDateTime": {
                    "type": "string",
                    "x-example": ""
                },
                "SignRequestMessage": {
                    "type": "string",
                    "x-example": "Hello, could you please sign this document? Best regards, John Doe"
                },
                "SignUrl": {
                    "type": "string",
                    "x-example": "https://view.signhost.com/sign/de9aeef6-b71d-4044-91ce-e077febd28df"
                },
                "Verifications": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Verifications"
                    },
                    "x-example": "[\n  {\n    \"Type\": \"Consent\"\n  }\n]"
                }
            }
        },
        "Verifications": {
            "description": "Model for Verifications",
            "required": [
                "Type"
            ],
            "properties": {
                "Type": {
                    "type": "string",
                    "x-example": "Consent"
                }
            }
        },
        "Files": {
            "description": "Model for Files",
            "required": [],
            "properties": {}
        }
    },
    "securityDefinitions": {
        "Authorization": {
            "description": "Authorization",
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        },
        "Application": {
            "description": "Application",
            "type": "apiKey",
            "name": "Application",
            "in": "header"
        }
    },
    "security": [],
    "tags": [{
        "name": "Web",
        "description": "Operations about Web"
    }]
}
